/* header css */
.header {
    background-color: rgb(183,221,230);
    color: darkslategray;
    display: flex;
    font-family: 'linotype-didot', 'serif';
    font-size: 24px;
    font-weight: bold;
    justify-content: space-between;
    padding: 24px;
    position: relative;
}
.logo {
    position: absolute;
}

/* HTML, Body */
html, body {
    height: 100%;
    margin: 0;
  }

/* content css */
.body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.button {
    border: 1px solid darkslategray;
    border-radius: 10px;
    color: darkslategray;
    padding: 6px;
}
.contact-image {
    background:url(https://www.linkedin.com/in/iedson/);
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
}
.contact-image:active {
    background:url(https://www.linkedin.com/in/iedson/)
}
.icon {
    height: 2.5rem;
    width: 2.8rem;
    margin-right: 0.625rem; 
}

.image {
  height: 215px;
  width: 200px;
}
.image-label {
    background-color: rgb(183,221,230);
    color: gray;
    font-size: 24px;
    position: absolute;
    text-align: center;
    bottom: 12px;
    left: 0;
    width: 100%;
}
.image-wrapper {
    position: relative;
    display: inline-block;
}
.underline {
    border-bottom: 5px solid black;
}
.section-content {
    max-width: 1000px;
    padding: 48px;
    font-family: 'futura-pt', 'sans-serif';
    font-size: 18px;
}
.section-main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.portfolio-image {
    float: left;
    height: 400px;
    width: 400px;
    margin: 0 32px;
}
.social-links-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
}

/* footer */
.footer {
    background-color: rgb(183,221,230);
    color: darkslategray;
    display: flex;
    justify-content: center;
}
/* Media Queries - Mobile Devices */
@media(max-width: 480px) { 


}
/* Media Queries - Tablets */
@media (max-width: 800px) {


}



