/* header css */
.header {
    background-color: rgb(183,221,230);
    color: darkslategray;
    display: flex;
    font-family: Georgia;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-between;
    padding: 24px;
}
.logo {
    margin-left: auto;
    float:
}

/* HTML, Body */
html, body {
    height: 100%;
    margin: 0;
  }

/* content css */
.body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans Typewriter';
}
.button {
    border: 1px solid darkslategray;
    border-radius: 10px;
    color: darkslategray;
    padding: 6px;
}
.contact-image {
    background:url(https://www.linkedin.com/in/iedson/);
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
}
.contact-image:active {
    background:url(https://www.linkedin.com/in/iedson/)
}
.icon {
    height: 2.5rem;
    width: 2.8rem;
    margin-right: 0.625rem; 
}
.image-wrapper {
  display: inline-block;
  margin-left: 50px;
  position: relative;
}
.image {
  height: 200px;
  width: 200px;  
}
.underline {
    border-bottom: 5px solid black;
}
.section-content {
    max-width: 1200px;
    padding: 24px;
}
.section-main {
    display: flex;
    flex-grow: 0;
    justify-content: center;
}
.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-grid-image {
    align-items: center;
    height: 250px;
    width: 215px;
    margin: 0 18 18 18px;
}

.portfolio-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 24px;
}
.social-links-grid {
    align-items: center;
    height: 250px;
    width: 215px;
    margin: 0 18px;
}

/* footer */
.footer {
    background-color: darkslategray;
    color: white;
    text-align: center;
}


